<div class="modal-backdrop" *ngIf="modalOpened">
  <div class="modal">
    <i class="icon--close" (click)="closeModalEvent()"></i>
    <div class="title">Pagamento para <span class="name-user">{{userToPay.name}}</span></div>

    <form class="content" [formGroup]="form">
      <input 
          type="text" t
          placeholder="R$ 0,00" 
          formControlName="payment"
          prefix="R$"
          mask="separator.1" thousandSeparator=","
          [ngClass]="{'error': !paymentValue.valid && paymentValue.touched}"
      />
      <span *ngIf="!paymentValue.valid && paymentValue.touched" class="text-danger">
        {{paymentValue.errors.diferentThanzero}}
      </span>
  
      <div class="cards">
        <select>
          <option *ngFor="let item of cards;" [ngValue]="card">
            Cartão com final {{getLastChar(item.card_number)}}
          </option>
        </select>
      </div>

      <button type="button" class="pay-button" [disabled]="!paymentValue.valid" (click)="sendPayment()">
        Pagar
      </button>
    </form>
  </div>

  <div class="modal modal-information" *ngIf="paymentComplete">
    <div class="title">
      Recibo de pagamento
    </div>

    <div class="content">
      <div class="payment-success" *ngIf="paymentSuccess">O pagamento foi concluido com sucesso<br /></div>
      <div class="payment-error" *ngIf="!paymentSuccess">O pagamento <strong>não</strong> foi concluido com sucesso.</div>
    </div>
  </div>
</div>