.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
}


.modal-backdrop.hidden {
  display: none;
}

.modal-backdrop:after {
  content: "";

  background: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.modal {
  background: #fff;
  margin: 32px 0;
  width: 420px;
  position: relative;

  .icon--close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;

    &::after {
      content: "\2716";
      font-weight: 400;
    }
  }
}

.modal > .title {
  background: #474971;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 24px;
}

.modal > .title > span {
  color: #cddc39;
}

.modal > .content {
  padding: 32px;
  text-align: center;

  .text-danger {
    color: red;
  }
}

.modal > .content > input {
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 32px;
  height: 48px;
  padding: 0 8px;

  &.error {
    border: 2px solid red;
    outline-color: red;
  }
}

.modal > .content > .cards > select {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 32px;
  height: 48px;
  margin-top: 12px;
}

.modal > .content > button {
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 32px;
  height: 48px;
  padding: 0 8px;
  margin-top: 24px;
  cursor: pointer;
}
